.modal-window{
  &__container{
    &.preview{
      width: fit-content;
      max-width: 60vw;
      min-width: 440px;
      padding: 5px 15px 25px;
      .modal-window__container__header{
        margin: 5px 0;
      }
    }
  }
  &__image-form{
    width: 100%;
    &__body{
      display: flex;
      img{
        min-width: 216px;
      }
    }
  }
}