.progress-label {
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  &__additional {
    color: yellow;
    font-size: 15px;
  }

  &__progress-positive{ 
    color: green;
    font-size: 18px;
    width: max-content; 
  }
  &__progress-negative {
    color: red;
    font-size: 18px;
    width: max-content;
  }
}
