.overview-header{
  &__filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .wallet-checkbox{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      p{
        font-size: .95rem;
        color: var(--light-grey);
        margin-left: 3px;
      }
    }
  }
}