.modal-window{
  &__trade{
    display: flex;
    flex-direction: column;
    &__rows{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      span{
        color: var(--color-light-grey);
      }
      .name{
        color: var(--color-dark);
      }
    }
  }
}