.login-form{
  &__success{
    width: 100%;
    text-align: center;
    span{
      font-size: 18px;
      color: var(--color-light-grey);
    }
    &__number{
      font-weight: 700;
      color: var(--color-dark);
      font-size: 27px;
      margin: 7px 0 35px;
    }
  }
}